* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #302e2e, black,#302e3e); 

    font-family: 'Poppins', sans-serif;
  }
  
  @keyframes formFadeIn {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes neonGlow {
    0% {
      box-shadow: 0 0 5px #00e6ff, 0 0 10px #00e6ff, 0 0 20px #00e6ff, 0 0 30px rgba(0, 230, 255, 0.6);
    }
    100% {
      box-shadow: 0 0 20px #ff00ff, 0 0 40px #ff00ff, 0 0 60px #ff00ff, 0 0 80px rgba(255, 0, 255, 0.7);
    }
  }
  
  .login-container {
    background: #222;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
    overflow: hidden;
    width: 400px;
    max-width: 100%;
    animation: formFadeIn 1s ease-out;
  }
  
  .login-form {
    padding: 40px;
    position: relative;
  }
  
  .login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  .input-container {
    position: relative;
    margin-bottom: 30px;
  }
  
  .input-container input {
    width: 100%;
    padding: 10px 0;
    background: transparent;
    border: none;
    border-bottom: 2px solid #999;
    outline: none;
    color: #fff;
    font-size: 18px;
    transition: border-color 0.4s ease;
  }
  
  .input-container input:focus {
    border-bottom-color: #00e6ff;
    animation: neonGlow 1.5s infinite alternate;
  }
  
  .input-container label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    color: #999;
    font-size: 16px;
    transition: all 0.4s ease;
  }
  
  .input-container input:focus + label,
  .input-container input:valid + label {
    transform: translateY(-20px);
    font-size: 12px;
    color: #00e6ff;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: transparent;
    color: #fff;
    border: 2px solid #00e6ff;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.4s ease, box-shadow 0.4s ease;
  }
  
  button:hover {
    background-color: #00e6ff;
    color: #000;
    box-shadow: 0 0 20px #00e6ff, 0 0 40px #00e6ff, 0 0 60px purple, 0 0 80px rgba(0, 230, 255, 0.7);
  }
 